/*@media only screen and (max-width:1920px) {
	.main-herader-two .affix-top .container:before {
		border-bottom: 71px solid rgba(255, 255, 255, 0.7)
	}
	.main-herader-two .affix-top .container:after {
		border-top: 71px solid rgba(255, 255, 255, 0.7)
	}
}

@media only screen and (max-width:1366px) {
	.main-herader-two .affix-top .container:before {
		border-bottom: 70px solid rgba(255, 255, 255, 0.7)
	}
	.main-herader-two .affix-top .container:after {
		border-top: 70px solid rgba(255, 255, 255, 0.7)
	}
}*/

@media only screen and (max-width:1199px) {
	.service-item h3 {
		font-size: 18px;
	}
	.separator-area .separator-col h2 {
		font-size: 35px;
	}
	.slide-caption__title {
		font-size: 30px;
	}
	.slide-caption__desc {
		font-size: 14px;
	}
}

@media only screen and (max-width:991px) {
	.center991 {
		float: none;
		text-align: center;
	}
	.header-navbar .navbar-default .navbar-nav>li>a {
		margin-left: 16px;
	}
	.header-navbar .navbar-nav .dropdown-menu {
		margin-left: 16px;
	}
	.header-navbar .navbar-brand img {
		width: 130px;
	}
	.box .title {
		font-size: 14px;
	}
	.separator-area .separator-col h2 {
	    font-size: 28px;
	}
	.sidebar-post ul li {
		margin-bottom: 40px;
	}
	.counter-col {
		margin-left: 15px;
		margin-right: 15px;
	}

}


@media only screen and (max-width:767px) {	  
	.center767 {
		float: none;
		text-align: center;
	}
	.header-navbar .navbar-brand {
	    margin-top: 10px;
	    margin-bottom: 10px;
	}
	.header-navbar .navbar-default .navbar-nav>li>a {
		padding: 12px 0;
	}
	.navbar-default .navbar-collapse {
		max-height: 325px;
	}
	.navbar-toggle {
		margin-top: 18px;
	}
	.main-herader-two .header-navbar .navbar-default .navbar-nav > li > a {
		padding: 12px 0;
	}
	.separator-area .separator-col h2:after {
		left: 50%;
		margin-left: -35px;
	}
	.separator-area {
		background-size: cover;
		padding: 100px 0;
		position: relative;
		background-attachment: fixed;
		background-position: center;
	}
	.separator-area:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		z-index: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
	}
	.separator-area .separator-col h2 {
		color: #ffffff;
	}
	.social-icon {
		text-align: center;
		margin-bottom: 15px;
	}
	.slide-caption {
		display: none;
	}
	.main-navbar.main-herader-two .topbar-area.opacity-0 {
		display: none;
	}

}

@media only screen and (max-width:640px) {
	.box .title {
		font-size: 12px;
	}
}

@media only screen and (max-width:600px) {
	.fw-600 {
		width: 100%;
	}
	.discount-area .owl-theme .owl-nav .owl-next, 
	.discount-area .owl-theme .owl-nav .owl-prev {
		bottom: 180px;
	}
	.car-details-col .carousel-caption h3 {
		font-size: 16px;
	}
	.car-details-col .carousel-caption {
		padding: 10px 0;
	}
	.box:hover:before {
		width: 100%;
		transform: skewX(0deg);
	}
	.box:before {
		left: 0;
		-ms-transform: skewX(0deg);
    	-webkit-transform: skewX(0deg);
    	transform: skewX(0deg);
	}
	.box .title {
		display: none;
	}
}

@media only screen and (max-width:575px) {
	.box .icon li a i {
		margin: 0;
	}

}

@media only screen and (max-width:480px) {
	.fw-480	{
		width: 100%;
	}
	.counter-box i {
		position: relative;
		margin-bottom: 10px;
	}
	.counter-box {
		padding-left: 20px;
	}
	.counter-box i {
		top: 0;
	}
	.counter-box i:before {
		margin-left: 0;
	}
	.counter-box h4 {
		margin-top: 10px;
	}
	.section-title h3:before, .section-title h3:after {
		display: none;
	}
	.right-angle {
		display: none;
	}
	.date-over-img {
		left: 20px;
		bottom: 20px;
	}
	.blog-full-col:hover .date-over-img {
		left: 0;
		bottom: 0;
	}
	.section-title h2:before, .section-title h2:after {
		display: none;
	}
	.section-title h2 {
		font-size: 28px;
	}
	.testimonial-item {
		padding-left: 0;
		padding: 30px 30px 30px 30px;
	}
	.testimonial-item .pic {
		position: relative;
		top: 0;
		left: 0;
	}
	.box .icon li a i {
		width: auto;
		height: auto;
		line-height: 16px;
		border: none;
		margin-right: 10px;
	}
	.box .icon li a i:hover {
		background: none;
		color: #0C94B8;
	}
	.slide-caption__title {
		font-size: 18px;
	}
	.slide-caption__desc {
		letter-spacing: 1px;
		font-size: 13px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 450px) {
    .video-layer i {
        font-size: 40px;
        margin-top: -15px;
    	margin-left: -20px;
    }

}
@media only screen and (max-width:420px) {
	.fw-420 {
		width: 100%;
	}
	.counter-box {
	    padding: 20px;
	    border: 1px solid #e2e2e2;
	    position: relative;
	    padding-left: 80px;
	}
	.counter-box i {
	    position: absolute;
	    left: 20px;
	    top: 30px;
	    color: #DA0102;
	}
	.counter-box i:before {
	    font-size: 40px;
	    font-weight: bold;
	}
	.counter-box h4 {
	    color: #e2e2e2;
	    font-size: 18px;
	    font-style: italic;
	    margin-top: 0;
	    margin-bottom: 5px;
	}
	.topbar-info li {
		margin: 0 10px;
	}
}

@media only screen and (max-width:375px) {
	.social-icon.bordered li {
		margin-bottom: 5px;
	}
}



